/*
Theme Name 	: Fornite Clans
Author 		: Abraham González Méndez
Author URI 	: https://www.facebook.com/abrahamgonzalezmendez
Description : Fornite Clans
Version 	: 1.0


*/
@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family     : 'OpenSans-Regular';
    src             : url('fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family     : 'Burbank Big Condensed';
    src             : url('fonts/fortnite/Fortnite.ttf') format('truetype');
}

@font-face {
    font-family     : 'Melloner Fun';
    src             : url('fonts/melloner/MellonerFunRegular.ttf') format('truetype');
}


.OpenSans-Regular 	{   font-family     : 'OpenSans-Regular' 	!important; }
.Fortnite-Font		{ 	font-family     : 'Burbank Big Condensed' !important; }
.Melloner			{ 	font-family     : 'Melloner Fun' !important; }

.col100a{ color: #FFFFFF 	!important; }
.col101a{ color: #56d3b4 	!important; }
.col102a{ color: #e388ef 	!important;}
.col103a{ color: #003087 	!important;}
.col104a{ color: #107c10 	!important;}
.col105a{ color: #601b8e    !important; }
.col106a{ color: #2a1a8e    !important; }

.bgs100a{ background: #007DC6 !important; }
.bgs101a{ background: #290033 !important; }
.bgs103a{ background: #FFFFFF !important; }


.fblur100a{
    -webkit-filter: blur(8px);
    filter: blur(8px);
}
 

.tabs-title100a>a:focus, .tabs-title100a>a[aria-selected=true]{ background: #E9F4FA !important; color: #137EC4 !important; }

 
.bgg100a{ background: linear-gradient(45deg, rgba(34,0,102,1) 0%, rgba(43,0,128,1) 38%, rgba(51,0,153,1) 68%, rgba(60,0,179,1) 100%);}
.bgg101a{ background: linear-gradient(to right, rgba(53,11,153,1) 0%, rgba(60,8,194,1) 51%, rgba(42,22,222,1) 100%); }
.bgi100a{ background-image: url("../img/fondo.jpg"); }

.bgt100a{ background: rgba(0,0,0,0.5); }

.bxs100a{ box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);/*box-shadow: 0 19px 48px rgba(0,0,0,0.30), 0 15px 32px rgba(0,0,0,0.22);*/ }

.op100a{ opacity: 0.9; }

.bor100a{ border: 1px solid #444444; }


.rad100a{ border-radius: 50% !important; }

.hvts100a:hover{ text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #c54ee0, 0 0 30px #c54ee0, 0 0 40px #c54ee0, 0 0 55px #c54ee0, 0 0 75px #c54ee0;}
.hvts101a:hover{ text-shadow: 0 0 2px #FFF, 0 0 5px #FFF, 0 0 7px #FFF, 0 0 5px #ed7702, 0 0 7px #ed7702, 0 0 10px #ed7702, 0 0 15px #ed7702, 0 0 20px #ed7702;}
.txtsh100a { text-shadow: 2px 2px #000000; }
.tranText100a{ transition: all .2s ease-out !important; }

.zIndex1{ z-index: 1; }
.zIndex2{ z-index: 2; }



.W100{width: 100% !important; }
.W95{ width: 95% !important; }
.W90{ width: 90% !important; }
.W85{ width: 85% !important; }
.W80{ width: 80% !important; }
.W75{ width: 75% !important; }
.W70{ width: 70% !important; }
.W65{ width: 65% !important; }
.W60{ width: 60% !important; }
.W55{ width: 55% !important; }
.W50{ width: 50% !important; }
.W45{ width: 45% !important; }
.W40{ width: 40% !important; }
.W35{ width: 35% !important; }
.W33{ width: 33.33333333% !important; }
.W30{ width: 30% !important; }
.W25{ width: 25% !important; }
.W20{ width: 20% !important; }
.W15{ width: 15% !important; }
.W10{ width: 10% !important; }
.W5{  width: 5% !important; }
.WA{  width: auto !important; }

.WPX1000{width: 1000px !important; }
.WPX950{ width: 950px !important; }
.WPX900{ width: 900px !important; }
.WPX850{ width: 850px !important; }
.WPX800{ width: 800px !important; }
.WPX750{ width: 750px !important; }
.WPX700{ width: 700px !important; }
.WPX650{ width: 650px !important; }
.WPX600{ width: 600px !important; }
.WPX550{ width: 550px !important; }
.WPX500{ width: 500px !important; }
.WPX450{ width: 450px !important; }
.WPX400{ width: 400px !important; }
.WPX350{ width: 350px !important; }
.WPX325{ width: 325px !important; }
.WPX300{ width: 300px !important; }
.WPX255{ width: 255px !important; }
.WPX250{ width: 250px !important; }
.WPX200{ width: 200px !important; }
.WPX150{ width: 150px !important; }
.WPX120{ width: 120px !important; }
.WPX100{ width: 100px !important; }
.WPX90{  width: 90px !important; }
.WPX80{  width: 80px !important; }
.WPX75{  width: 75px !important; }
.WPX70{  width: 70px !important; }
.WPX65{  width: 65px !important; }
.WPX60{  width: 60px !important; }
.WPX50{  width: 50px !important; }
.WPX45{  width: 45px !important; }
.WPX40{  width: 40px !important; }
.WPX35{  width: 35px !important; }
.WPX30{  width: 30px !important; }
.WPX25{  width: 25px !important; }
.WPX20{  width: 20px !important; }
.WPX15{  width: 15px !important; }
.WPX10{  width: 10px !important; }
.WPX5{   width: 5px !important; }
.WPX3{   width: 3px !important; }
.WPX2{   width: 2px !important; }
.WPX1{   width: 1px !important; }

.H160{height: 160% !important; }
.H100{height: 100% !important; }
.H95{ height: 95% !important; }
.H90{ height: 90% !important; }
.H85{ height: 85% !important; }
.H80{ height: 80% !important; }
.H75{ height: 75% !important; }
.H70{ height: 70% !important; }
.H65{ height: 65% !important; }
.H60{ height: 60% !important; }
.H55{ height: 55% !important; }
.H50{ height: 50% !important; }
.H45{ height: 45% !important; }
.H40{ height: 40% !important; }
.H35{ height: 35% !important; }
.H33{ height: 33% !important; }
.H30{ height: 30% !important; }
.H25{ height: 25% !important; }
.H20{ height: 20% !important; }
.H15{ height: 15% !important; }
.H10{ height: 10% !important; }
.H5{  height: 5% !important; }
.HA{  height: auto !important; }

.HPX1000{height: 1000px !important; }
.HPX950{ height: 950px !important; }
.HPX900{ height: 900px !important; }
.HPX850{ height: 850px !important; }
.HPX800{ height: 800px !important; }
.HPX780{ height: 780px !important; }
.HPX750{ height: 750px !important; }
.HPX700{ height: 700px !important; }
.HPX670{ height: 670px !important; }
.HPX657{ height: 657px !important; }
.HPX650{ height: 650px !important; }
.HPX625{ height: 625px !important; }
.HPX615{ height: 615px !important; }
.HPX610{ height: 610px !important; }
.HPX600{ height: 600px !important; }
.HPX550{ height: 550px !important; }
.HPX500{ height: 500px !important; }
.HPX540{ height: 540px !important; }
.HPX520{ height: 520px !important; }
.HPX515{ height: 515px !important; }
.HPX500{ height: 500px !important; }
.HPX475{ height: 475px !important; }
.HPX465{ height: 465px !important; }
.HPX450{ height: 450px !important; }
.HPX435{ height: 435px !important; }
.HPX430{ height: 430px !important; }
.HPX415{ height: 415px !important; }
.HPX405{ height: 405px !important; }
.HPX400{ height: 400px !important; }
.HPX390{ height: 390px !important; }
.HPX380{ height: 380px !important; }
.HPX350{ height: 350px !important; }
.HPX325{ height: 325px !important; }
.HPX320{ height: 320px !important; }
.HPX310{ height: 310px !important; }
.HPX300{ height: 300px !important; }
.HPX285{ height: 285px !important; }
.HPX280{ height: 280px !important; }
.HPX275{ height: 275px !important; }
.HPX260{ height: 260px !important; }
.HPX255{ height: 255px !important; }
.HPX250{ height: 250px !important; }
.HPX245{ height: 245px !important; }
.HPX242{ height: 242.5px !important; }
.HPX240{ height: 240px !important; }
.HPX235{ height: 235px !important; }
.HPX225{ height: 225px !important; }
.HPX220{ height: 220px !important; }
.HPX215{ height: 215px !important; }
.HPX210{ height: 210px !important; }
.HPX200{ height: 200px !important; }
.HPX180{ height: 180px !important; }
.HPX190{ height: 190px !important; }
.HPX175{ height: 175px !important; }
.HPX170{ height: 170px !important; }
.HPX160{ height: 160px !important; }
.HPX155{ height: 155px !important; }
.HPX150{ height: 150px !important; }
.HPX145{ height: 145px !important; }
.HPX140{ height: 140px !important; }
.HPX135{ height: 135px !important; }
.HPX130{ height: 130px !important; }
.HPX125{ height: 125px !important; }
.HPX120{ height: 120px !important; }
.HPX123{ height: 123px !important; }
.HPX118{ height: 118px !important; }
.HPX116{ height: 116px !important; }
.HPX114{ height: 114px !important; }
.HPX110{ height: 110px !important; }
.HPX100{ height: 100px !important; }
.HPX98{  height: 98px !important; }
.HPX90{  height: 90px !important; }
.HPX85{  height: 85px !important; }
.HPX80{  height: 80px !important; }
.HPX77{  height: 77px !important; }
.HPX75{  height: 75px !important; }
.HPX70{  height: 70px !important; }
.HPX65{  height: 65px !important; }
.HPX60{  height: 60px !important; }
.HPX58{  height: 58px !important; }
.HPX55{  height: 55px !important; }
.HPX50{  height: 50px !important; }
.HPX45{  height: 45px !important; }
.HPX40{  height: 40px !important; }
.HPX34{  height: 34px !important; }
.HPX35{  height: 35px !important; }
.HPX30{  height: 30px !important; }
.HPX25{  height: 25px !important; }
.HPX20{  height: 20px !important; }
.HPX15{  height: 15px !important; }
.HPX10{  height: 10px !important; }
.HPX5{  height: 5px !important; }
.HPX4{  height: 4px !important; }
.HPX3{  height: 3px !important; }
.HPX2{  height: 2px !important; }
.HPX1{  height: 1px !important; }

/*---TOP----*/
.TA{ top: auto !important; }
.T-45{  top: -45px; }
.T0{  top: 0; }
.T5{  top: 5px; }
.T10{ top: 10px; }
.T15{ top: 15px; }
.T20{ top: 20px; }
.T25{ top: 25px; }
.T30{ top: 30px; }
.T35{ top: 35px; }
.T40{ top: 40px; }
.T45{ top: 45px; }
.T50{ top: 50px; }
.T55{ top: 55px; }
.T60{ top: 60px; }
.T65{ top: 65px; }
.T70{ top: 70px; }
.T265{ top: 265px; }

/*.TP25{ top: 25% !important; }*/

/*---BOTTOM---*/
.B0{ bottom: 0 !important; }
.B2{ bottom: 2px; }
.B5{ bottom: 5px; }
.B10{ bottom: 10px; }
.B15{ bottom: 15px; }
.B20{ bottom: 20px; } 
.B25{ bottom: 25px; } 
.B30{ bottom: 30px; } 
.B35{ bottom: 35px; } 
.B40{ bottom: 40px; } 
.B45{ bottom: 45px; } 
.B50{ bottom: 50px; } 
.B55{ bottom: 55px; } 
.B60{ bottom: 60px; } 
.B65{ bottom: 65px; } 
.B70{ bottom: 70px; } 


/*---LEFT---*/
.L0{ left: 0; }
.L5{ left: 5px; }
.L10{ left: 10px; }
.L15{ left: 15px; }
.L20{ left: 20px; }
.L25{ left: 25px; }
.L30{ left: 30px; }
.L35{ left: 35px; }
.L40{ left: 40px; }
.L45{ left: 45px; }
.L50{ left: 50px; }
.L55{ left: 55px; }
.L60{ left: 60px; }
.L65{ left: 65px; }
.L70{ left: 70px; }

/*---RIGHT---*/
.R0{ right: 0; }
.R5{ right: 5px; }
.R10{ right: 10px; }
.R15{ right: 15px; }
.R20{ right: 20px; }
.R25{ right: 25px; }
.R30{ right: 30px; }
.R35{ right: 35px; }
.R40{ right: 40px; }
.R45{ right: 45px; }
.R50{ right: 50px; }
.R55{ right: 55px; }
.R60{ right: 60px; }
.R65{ right: 65px; }
.R70{ right: 70px; }

 /*---MARGIN TOP---*/
.MT-75{ margin-top: -75px; }
.MT-5{ margin-top: -5px; }
.MT-1{ margin-top: -1px; }
.MTA{ margin-top: auto; }
.MT0{ margin-top: 0px; }
.MT5{ margin-top: 5px; }
.MT8{ margin-top: 8px; }
.MT10{ margin-top: 10px; }
.MT15{ margin-top: 15px; }
.MT20{ margin-top: 20px; }
.MT25{ margin-top: 25px; }
.MT30{ margin-top: 30px; }
.MT35{ margin-top: 35px; }
.MT40{ margin-top: 40px; }
.MT45{ margin-top: 45px; }
.MT50{ margin-top: 50px; }
.MT55{ margin-top: 55px; }
.MT60{ margin-top: 60px; }
.MT65{ margin-top: 65px; }
.MT70{ margin-top: 70px; }
.MT75{ margin-top: 75px; }
.MT80{ margin-top: 80px; }
.MT150{margin-top: 150px;}
/*----MARGIN BOTTOM---*/
.MBA{ margin-bottom: auto; }
.MB0{ margin-bottom: 0px !important; }
.MB5{ margin-bottom: 5px; }
.MB10{ margin-bottom: 10px; }
.MB15{ margin-bottom: 15px; }
.MB20{ margin-bottom: 20px; }
.MB25{ margin-bottom: 25px; }
.MB30{ margin-bottom: 30px; }
.MB35{ margin-bottom: 35px; }
.MB40{ margin-bottom: 40px; }
.MB45{ margin-bottom: 45px; }
.MB50{ margin-bottom: 50px; }
.MB55{ margin-bottom: 55px; }
.MB60{ margin-bottom: 60px; }
.MB65{ margin-bottom: 65px; }
.MB70{ margin-bottom: 70px; }

/*----MARGIN LEFT---*/
.MLA{ margin-left: auto; }
.ML0{ margin-left: 0px !important; }
.ML5{ margin-left: 5px; }
.ML10{ margin-left: 10px; }
.ML15{ margin-left: 15px; }
.ML20{ margin-left: 20px; }
.ML25{ margin-left: 25px; }
.ML30{ margin-left: 30px; }
.ML35{ margin-left: 35px; }
.ML40{ margin-left: 40px; }
.ML45{ margin-left: 45px; }
.ML50{ margin-left: 50px; }
.ML55{ margin-left: 55px; }
.ML60{ margin-left: 60px; }
.ML65{ margin-left: 65px; }
.ML70{ margin-left: 70px; }

/*----MARGIN RIGHT---*/
.MRA{ margin-right: auto; }
.MR0{ margin-right: 0px !important; }
.MR5{ margin-right: 5px; }
.MR10{ margin-right: 10px; }
.MR15{ margin-right: 15px; }
.MR20{ margin-right: 20px; }
.MR25{ margin-right: 25px; }
.MR30{ margin-right: 30px; }
.MR35{ margin-right: 35px; }
.MR40{ margin-right: 40px; }
.MR45{ margin-right: 45px; }
.MR50{ margin-right: 50px; }
.MR55{ margin-right: 55px; }
.MR60{ margin-right: 60px; }
.MR65{ margin-right: 65px; }
.MR70{ margin-right: 70px; }

/*----MARGIN TOP - BUTTOM*/
.MTB0{  margin-top: 0px; margin-bottom: 0px; }
.MTB5{  margin-top: 5px; margin-bottom: 5px; }
.MTB10{ margin-top: 10px; margin-bottom: 10px; }
.MTB15{ margin-top: 15px; margin-bottom: 15px; }
.MTB20{ margin-top: 20px; margin-bottom: 20px; }
.MTB25{ margin-top: 25px; margin-bottom: 25px; }
.MTB30{ margin-top: 30px; margin-bottom: 30px; }
.MTB35{ margin-top: 35px; margin-bottom: 35px; }
.MTB40{ margin-top: 40px; margin-bottom: 40px; }
.MTB45{ margin-top: 45px; margin-bottom: 45px; }
.MTB50{ margin-top: 50px; margin-bottom: 50px; }
.MTB55{ margin-top: 55px; margin-bottom: 55px; }
.MTB60{ margin-top: 60px; margin-bottom: 60px; }
.MTB65{ margin-top: 65px; margin-bottom: 65px; }
.MTB70{ margin-top: 70px; margin-bottom: 70px; }

/*----PADDING LEFT */
.PL0{ padding-left: 0px !important; }
.PL5{ padding-left: 5px; }
.PL10{ padding-left: 10px; }
.PL15{ padding-left: 15px; }
.PL20{ padding-left: 20px; }
.PL25{ padding-left: 25px; }
.PL30{ padding-left: 30px; }
.PL35{ padding-left: 35px; }
.PL40{ padding-left: 40px; }
.PL45{ padding-left: 45px; }
.PL50{ padding-left: 50px; }

/*----PADDING RIGHT */
.PR0{ padding-right: 0px; }
.PR5{ padding-right: 5px; }
.PR10{ padding-right: 10px; }
.PR15{ padding-right: 15px; }
.PR20{ padding-right: 20px; }
.PR25{ padding-right: 25px; }
.PR30{ padding-right: 30px; }
.PR35{ padding-right: 35px; }
.PR40{ padding-right: 40px; }
.PR45{ padding-right: 45px; }
.PR50{ padding-right: 50px; }

/*----PADDING TOP */
.PT0{ padding-top: 0px !important; }
.PT5{ padding-top: 5px; }
.PT10{ padding-top: 10px; }
.PT15{ padding-top: 15px; }
.PT20{ padding-top: 20px; }
.PT25{ padding-top: 25px; }
.PT30{ padding-top: 30px; }
.PT35{ padding-top: 35px; }
.PT40{ padding-top: 40px; }
.PT45{ padding-top: 45px; }
.PT50{ padding-top: 50px; }

.PT50P{ padding-top: 56.25%; }

/*----PADDING BOTTOM */
.PB0{ padding-bottom: 0px !important; }
.PB5{ padding-bottom: 5px; }
.PB10{ padding-bottom: 10px; }
.PB15{ padding-bottom: 15px; }
.PB20{ padding-bottom: 20px; }
.PB25{ padding-bottom: 25px; }
.PB30{ padding-bottom: 30px; }
.PB35{ padding-bottom: 35px; }
.PB40{ padding-bottom: 40px; }
.PB45{ padding-bottom: 45px; }
.PB50{ padding-bottom: 50px; }


/*----PADDING TOP-BOTTOM */
.PTB0{ padding-top: 0px !important; padding-bottom: 0 !important; }
.PTB5{ padding-top: 5px !important; padding-bottom: 5px !important; }
.PTB8{ padding-top: 8px !important; padding-bottom: 8px !important; }
.PTB10{ padding-top: 10px !important; padding-bottom: 10px !important; }
.PTB13{ padding-top: 13px !important; padding-bottom: 13px !important; }
.PTB15{ padding-top: 15px !important; padding-bottom: 15px !important; }
.PTB20{ padding-top: 20px !important; padding-bottom: 20px !important; }
.PTB25{ padding-top: 25px !important; padding-bottom: 25px !important; }
.PTB30{ padding-top: 30px !important; padding-bottom: 30px !important; }
.PTB35{ padding-top: 35px !important; padding-bottom: 35px !important; }
.PTB40{ padding-top: 40px !important; padding-bottom: 40px !important; }
.PTB45{ padding-top: 45px !important; padding-bottom: 45px !important; }
.PTB50{ padding-top: 50px !important; padding-bottom: 50px !important; }


/*----PADDING LEFT-RIGHT */
.PLR0{ padding-left: 0px !important; padding-right: 0px !important; }
.PLR5{ padding-left: 5px !important; padding-right: 5px !important;}
.PLR10{ padding-left: 10px !important; padding-right: 10px !important; }
.PLR15{ padding-left: 15px !important; padding-right: 15px !important; }
.PLR20{ padding-left: 20px !important; padding-right: 20px !important; }
.PLR25{ padding-left: 25px !important; padding-right: 25px !important; }
.PLR30{ padding-left: 30px !important; padding-right: 30px !important; }
.PLR35{ padding-left: 35px !important; padding-right: 35px !important; }
.PLR40{ padding-left: 40px !important; padding-right: 40px !important; }
.PLR45{ padding-left: 45px !important; padding-right: 45px !important; }
.PLR50{ padding-left: 50px !important; padding-right: 50px !important; }

/*----PADDING TOP-BOTTOM */
.PAll5{ padding:   5px 5px; }
.PAll10{ padding: 10px 10px; }
.PAll15{ padding: 15px 15px; }
.PAll20{ padding: 20px 20px; }
.PAll25{ padding: 25px 25px; }
.PAll30{ padding: 30px 30px; }
.PAll35{ padding: 35px 35px; }
.PAll40{ padding: 40px 40px; }
.PAll45{ padding: 45px 45px; }
.PAll50{ padding: 50px 50px; }

.M0{ 	margin: 0 !important; }
.P0{ 	padding: 0 !important;  }


.scroll100a{ overflow: scroll; }
.scroll101a{ overflow: hidden; }

.fSize2{ font-size: 2px !important; }
.fSize4{ font-size: 4px !important; }
.fSize6{ font-size: 6px !important; }
.fSize8{ font-size: 8px !important; }
.fSize10{ font-size: 10px !important; }
.fSize12{ font-size: 12px !important; }
.fSize14{ font-size: 14px !important; }
.fSize16{ font-size: 16px !important; }
.fSize18{ font-size: 18px !important; }
.fSize20{ font-size: 20px !important; }
.fSize22{ font-size: 22px !important; }
.fSize24{ font-size: 24px !important; }
.fSize26{ font-size: 26px !important; }
.fSize28{ font-size: 28px !important; }
.fSize30{ font-size: 30px !important; }
.fSize32{ font-size: 32px !important; }
.fSize34{ font-size: 34px !important; }
.fSize36{ font-size: 36px !important; }
.fSize38{ font-size: 38px !important; }
.fSize40{ font-size: 40px !important; }
.fSize42{ font-size: 42px !important; }
.fSize44{ font-size: 44px !important; }
.fSize46{ font-size: 46px !important; }
.fSize48{ font-size: 48px !important; }
.fSize50{ font-size: 50px !important; }
.fSize60{ font-size: 60px !important; }
.fSize65{ font-size: 65px !important; }
.fSize70{ font-size: 70px !important; }
.fSize100{ font-size: 100px !important; }
.cVideoRadio * { width: 100% !important; height: 100% !important; }
#cScriptVideoPlayer * { width: 100% !important; height: 100% !important; }

.tranText100a{ transition: all .2s ease-out !important; }
.cVertical{ margin-top: auto !important; margin-bottom: auto !important; top: 0 !important;bottom: 0 !important;}
.cHorizontal{margin-right: auto !important;margin-left: auto !important;right: 0 !important;left: 0 !important;}
.cCentrar{margin-top: auto !important;margin-bottom: auto !important;top: 0 !important;bottom: 0 !important;margin-right: auto !important;margin-left: auto !important;right: 0 !important;left: 0 !important;}
.cVerticalR{top: 50% !important;transform: translate(0, -50%) !important;-webkit-transform: translate(0, -50%) !important;}
.cHorizontalR{left: 50% !important;transform: translate(-50%, 0) !important;-webkit-transform: translate(-50%, 0) !important;}
.cCentrarR{top: 50% !important;left: 50% !important;transform: translate(-50%, -50%) !important;-webkit-transform: translate(-50%, -50%) !important;}
.alingRightR{right: -100% !important; transform: translate(-100%, 0%) !important; -webkit-transform: translate(-100%, 0%) !important;}
.textAlignC{ text-align: center !important; }
.textAlignL{ text-align: left !important; }
.textAlignR{ text-align: right !important; }
.textUpper{ text-transform: uppercase !important; }
.cPointer{ cursor: pointer !important; }
.boxSizing{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
}

.pa {position: absolute !important ;}
.manageImg{
display: block;
background-size: cover;
background-position: center center;
position: relative;
border-style: none;
}

.animation1{
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 700ms ;
    -moz-transition: all 700ms ;
    -ms-transition: all 700ms ;
    -o-transition: all 700ms ;
}
.animation2{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 700ms ;
    -moz-transition: all 700ms ;
    -ms-transition: all 700ms ;
    -o-transition: all 700ms ;
}

.animation3{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 8s ;
    -moz-transition: all 8s ;
    -ms-transition: all 8s ;
    -o-transition: all 8s ;
}


.hvr-scale-out{
transform: scale(1);
-ms-transform: scale(1);
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-webkit-transition: all 700ms ;
-moz-transition: all 700ms ;
-ms-transition: all 700ms ;
-o-transition: all 700ms ;
}
.hvr-scale-in{
transform: scale(1.2);
-ms-transform: scale(1.2);
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-webkit-transition: all 700ms ;
-moz-transition: all 700ms ;
-ms-transition: all 700ms ;
-o-transition: all 700ms ;
}

.lazyPreloader{
width: 42px !important;
height: 42px !important;
position: absolute;
left: 50%;
top: 50%;
margin-left: -21px;
margin-top: -21px;
z-index: 10;
-webkit-transform-origin: 50%;
-moz-transform-origin: 50%;
transform-origin: 50%;
-webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
-moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.lazyPreloader:after {
display: block;
content: "";
width: 100%;
height: 100%;
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
background-position: 50%;
-webkit-background-size: 100%;
background-size: 100%;
background-repeat: no-repeat;
}
.lazyPreloader-white:after {
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.lazyImg:not(.lazyPreloader), .swiper-lazy.swiper-lazy-loaded{
-webkit-animation: fadein 1s !important; 
-moz-animation: fadein 1s !important;
-ms-animation: fadein 1s !important;
-o-animation: fadein 1s !important;
animation: fadein 1s !important;
}
.act-fadein2, .act-fadein2:active, .act-fadein2:focus{
-webkit-animation: fadein 0.6s !important; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 0.6s !important; /* Firefox < 16 */
-ms-animation: fadein 0.6s !important; /* Internet Explorer */
-o-animation: fadein 0.6s !important; /* Opera < 12.1 */
animation: fadein 0.6s !important;
}
.act-fadein, .act-fadein:active, .act-fadein:focus{
-webkit-animation: fadein2 0.5s !important; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein2 0.5s !important; /* Firefox < 16 */
-ms-animation: fadein2 0.5s !important; /* Internet Explorer */
-o-animation: fadein2 0.5s !important; /* Opera < 12.1 */
animation: fadein2 0.5s !important;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@keyframes fadein2 {
from { opacity: 0; }
to   { opacity: 0.4; }
}
@-moz-keyframes fadein2 {
from { opacity: 0; }
to   { opacity: 0.4; }
}
@-webkit-keyframes fadein2 {
from { opacity: 0; }
to   { opacity: 0.4; }
}
@-ms-keyframes fadein2 {
from { opacity: 0; }
to   { opacity: 0.4; }
}
@-o-keyframes fadein2 {
from { opacity: 0; }
to   { opacity: 0.4; }
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

h1,h2,h3,h4,h5,h6{
position: relative !important;
display: block !important;
font-size: inherit !important;
margin: 0 !important;
padding: 0 !important;
font-weight: inherit !important;
}

.aRotate360{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform:rotate(360deg);
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ul100a{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    overflow: auto !important;
    border-style: none !important;
}

.ul101a{
    list-style: none !important;
    overflow: auto !important;
    border-style: none !important;
}
.ulAlingC{
    display: flex !important; 
    align-items: center !important;
}

.ullileft1a > li{ float: left !important; }
.ullileft2a > li{ display: inline-block !important; }



.container-timeline ul {
	list-style: none;
}
.container-timeline ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #444444;
}
.container-timeline ul li {
  position: relative;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
  /*box-shadow: 0 19px 48px rgba(0,0,0,0.30), 0 15px 32px rgba(0,0,0,0.22);*/
}
.container-timeline ul li:not(:first-child) {
  margin-top: 25px;
}
.container-timeline ul li > span {
  width: 2px;
  height: 100%;
  background: #444444;
  left: -10px;
  top: 0;
  position: absolute;
}
.container-timeline ul li > span:before, .container-timeline ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #007DC6;
  left: -3px;
  top: 0;
}
.container-timeline ul li span:after {
  top: 100%;
}
.container-timeline ul li > div {
  margin-left: 10px;
}
.container-timeline div > div {
  margin-top: 5px;
}

.cStreaming > *{
    position: relative;
    width: 100%;
    height: 100%;
}


.dNone{ display: none; }

.alignleft{
    float: left;
    padding-right: 5px;
}

.alignright{
    float: right;
    padding-left: 5px;
}

.cContent iframe{
    width: 100% !important;
    max-width: 100% !important;
}

#fBusqueda .iSearch{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #007DC6;
}
#fBusqueda .button{
    border: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #007DC6;
}

#fBusqueda .input-group-label{
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #007DC6;
}

#cContentSingle > p{ color: #000000; }

@media screen and (max-width: 768px){
.WM768100{ max-width: 100% !important; }

.W768100{width: 100% !important; }
.W76895{ width: 95% !important; }
.W76890{ width: 90% !important; }
.W76885{ width: 85% !important; }
.W76880{ width: 80% !important; }
.W76875{ width: 75% !important; }
.W76870{ width: 70% !important; }
.W76865{ width: 65% !important; }
.W76860{ width: 60% !important; }
.W76855{ width: 55% !important; }
.W76850{ width: 50% !important; }
.W76845{ width: 45% !important; }
.W76840{ width: 40% !important; }
.W76835{ width: 35% !important; }
.W76833{ width: 33.33333333% !important; }
.W76830{ width: 30% !important; }
.W76825{ width: 25% !important; }
.W76820{ width: 20% !important; }
.W76815{ width: 15% !important; }
.W76810{ width: 10% !important; }
.W7685{  width: 5% !important; }
.W768A{  width: auto !important; }

.HPX7681000{height: 1000px !important; }
.HPX768950{ height: 950px !important; }
.HPX768900{ height: 900px !important; }
.HPX768890{ height: 890px !important; }
.HPX768850{ height: 850px !important; }
.HPX768800{ height: 800px !important; }
.HPX768750{ height: 750px !important; }
.HPX768700{ height: 700px !important; }
.HPX768670{ height: 670px !important; }
.HPX768650{ height: 650px !important; }
.HPX768610{ height: 610px !important; }
.HPX768600{ height: 600px !important; }
.HPX768550{ height: 550px !important; }
.HPX768540{ height: 540px !important; }
.HPX768530{ height: 530px !important; }
.HPX768520{ height: 520px !important; }
.HPX768500{ height: 500px !important; }
.HPX768450{ height: 450px !important; }
.HPX768430{ height: 430px !important; }
.HPX768405{ height: 405px !important; }
.HPX768400{ height: 400px !important; }
.HPX768370{ height: 370px !important; }
.HPX768350{ height: 350px !important; }
.HPX768325{ height: 325px !important; }
.HPX768300{ height: 300px !important; }
.HPX768280{ height: 280px !important; }
.HPX768275{ height: 275px !important; }
.HPX768260{ height: 260px !important; }
.HPX768255{ height: 255px !important; }
.HPX768250{ height: 250px !important; }
.HPX768240{ height: 240px !important; }
.HPX768200{ height: 200px !important; }
.HPX768150{ height: 150px !important; }
.HPX768125{ height: 125px !important; }
.HPX768110{ height: 110px !important; }
.HPX768100{ height: 100px !important; }
.HPX76890{  height: 90px !important; }
.HPX76885{  height: 85px !important; }
.HPX76880{  height: 80px !important; }
.HPX76870{  height: 70px !important; }
.HPX76850{  height: 50px !important; }
.HPX76845{  height: 45px !important; }
.HPX76840{  height: 40px !important; }
.HPX76835{  height: 35px !important; }
.HPX76830{  height: 30px !important; }
.HPX76825{  height: 25px !important; }
.HPX76820{  height: 20px !important; }
.HPX76815{  height: 15px !important; }
.HPX76810{  height: 10px !important; }
.HPX7685{  height: 5px !important; }
.HPX7681{  height: 1px !important; }

.H768A{  height: auto !important; }

.fSize7682{ font-size: 2px !important; }
.fSize7684{ font-size: 4px !important; }
.fSize7686{ font-size: 6px !important; }
.fSize7688{ font-size: 8px !important; }
.fSize76810{ font-size: 10px !important; }
.fSize76812{ font-size: 12px !important; }
.fSize76814{ font-size: 14px !important; }
.fSize76816{ font-size: 16px !important; }
.fSize76818{ font-size: 18px !important; }
.fSize76820{ font-size: 20px !important; }
.fSize76822{ font-size: 22px !important; }
.fSize76824{ font-size: 24px !important; }
.fSize76826{ font-size: 26px !important; }
.fSize76828{ font-size: 28px !important; }
.fSize76830{ font-size: 30px !important; }
.fSize76832{ font-size: 32px !important; }
.fSize76834{ font-size: 34px !important; }
.fSize76836{ font-size: 36px !important; }
.fSize76838{ font-size: 38px !important; }
.fSize76840{ font-size: 40px !important; }
.fSize76842{ font-size: 42px !important; }
.fSize76844{ font-size: 44px !important; }
.fSize76846{ font-size: 46px !important; }
.fSize76848{ font-size: 48px !important; }
.fSize76850{ font-size: 50px !important; }

/*---MARGIN TOP---*/
.MT768A{ margin-top: auto !important; }
.MT7680{ margin-top: 0px !important; }
.MT7685{ margin-top: 5px !important; }
.MT76810{ margin-top: 10px !important; }
.MT76815{ margin-top: 15px !important; }
.MT76820{ margin-top: 20px !important; }
.MT76825{ margin-top: 25px !important; }
.MT76830{ margin-top: 30px !important; }
.MT76835{ margin-top: 35px !important; }
.MT76840{ margin-top: 40px !important; }
.MT76845{ margin-top: 45px !important; }
.MT76850{ margin-top: 50px !important; }
.MT76855{ margin-top: 55px !important; }
.MT76860{ margin-top: 60px !important; }
.MT76855{ margin-top: 65px !important; }
.MT76860{ margin-top: 70px !important; }

.PTB7680{ padding-top: 0px !important; padding-bottom: 0 !important; }
.PTB7685{ padding-top: 5px !important; padding-bottom: 5px !important; }
.PTB76810{ padding-top: 10px !important; padding-bottom: 10px !important; }
.PTB76815{ padding-top: 15px !important; padding-bottom: 15px !important; }
.PTB76820{ padding-top: 20px !important; padding-bottom: 20px !important; }
.PTB76825{ padding-top: 25px !important; padding-bottom: 25px !important; }
.PTB76830{ padding-top: 30px !important; padding-bottom: 30px !important; }
.PTB76835{ padding-top: 35px !important; padding-bottom: 35px !important; }
.PTB76840{ padding-top: 40px !important; padding-bottom: 40px !important; }
.PTB76845{ padding-top: 45px !important; padding-bottom: 45px !important; }
.PTB76850{ padding-top: 50px !important; padding-bottom: 50px !important; }

}

@media screen and (max-width: 425px){
.WM425100{ max-width: 100% !important; }
.WM42570{ max-width: 70% !important; }

.HM425A{ min-height: auto !important;  }

.W425100{width: 100% !important; }
.W42595{ width: 95% !important; }
.W42590{ width: 90% !important; }
.W42585{ width: 85% !important; }
.W42580{ width: 80% !important; }
.W42575{ width: 75% !important; }
.W42570{ width: 70% !important; }
.W42565{ width: 65% !important; }
.W42560{ width: 60% !important; }
.W42555{ width: 55% !important; }
.W42550{ width: 50% !important; }
.W42545{ width: 45% !important; }
.W42540{ width: 40% !important; }
.W42535{ width: 35% !important; }
.W42533{ width: 33.33333333% !important; }
.W42530{ width: 30% !important; }
.W42525{ width: 25% !important; }
.W42520{ width: 20% !important; }
.W42515{ width: 15% !important; }
.W42510{ width: 10% !important; }
.W4255{  width: 5% !important; }
.W425A{  width: auto !important; }

.H425160{height: 160% !important; }
.H425100{height: 100% !important; }
.H42595{ height: 95% !important; }
.H42590{ height: 90% !important; }
.H42585{ height: 85% !important; }
.H42580{ height: 80% !important; }
.H42575{ height: 75% !important; }
.H42570{ height: 70% !important; }
.H42565{ height: 65% !important; }
.H42560{ height: 60% !important; }
.H42555{ height: 55% !important; }
.H42550{ height: 50% !important; }
.H42545{ height: 45% !important; }
.H42540{ height: 40% !important; }
.H42535{ height: 35% !important; }
.H42533{ height: 33% !important; }
.H42530{ height: 30% !important; }
.H42525{ height: 25% !important; }
.H42520{ height: 20% !important; }
.H42515{ height: 15% !important; }
.H42510{ height: 10% !important; }
.H4255{  height: 5% !important; }
.H425A{  height: auto !important; }

.HPX4251000{height: 1000px !important; }
.HPX425950{ height: 950px !important; }
.HPX425900{ height: 900px !important; }
.HPX425850{ height: 850px !important; }
.HPX425800{ height: 800px !important; }
.HPX425750{ height: 750px !important; }
.HPX425700{ height: 700px !important; }
.HPX425670{ height: 670px !important; }
.HPX425650{ height: 650px !important; }
.HPX425610{ height: 610px !important; }
.HPX425600{ height: 600px !important; }
.HPX425550{ height: 550px !important; }
.HPX425560{ height: 560px !important; }
.HPX425540{ height: 540px !important; }
.HPX425530{ height: 530px !important; }
.HPX425520{ height: 520px !important; }
.HPX425500{ height: 500px !important; }
.HPX425450{ height: 450px !important; }
.HPX425430{ height: 430px !important; }
.HPX425405{ height: 405px !important; }
.HPX425400{ height: 400px !important; }
.HPX425350{ height: 350px !important; }
.HPX425325{ height: 325px !important; }
.HPX425300{ height: 300px !important; }
.HPX425280{ height: 280px !important; }
.HPX425275{ height: 275px !important; }
.HPX425260{ height: 260px !important; }
.HPX425255{ height: 255px !important; }
.HPX425250{ height: 250px !important; }
.HPX425240{ height: 240px !important; }
.HPX425200{ height: 200px !important; }
.HPX425150{ height: 150px !important; }
.HPX425125{ height: 125px !important; }
.HPX425110{ height: 110px !important; }
.HPX425100{ height: 100px !important; }
.HPX42590{  height: 90px !important; }
.HPX42585{  height: 85px !important; }
.HPX42580{  height: 80px !important; }
.HPX42570{  height: 70px !important; }
.HPX42550{  height: 50px !important; }
.HPX42545{  height: 45px !important; }
.HPX42540{  height: 40px !important; }
.HPX42535{  height: 35px !important; }
.HPX42530{  height: 30px !important; }
.HPX42525{  height: 25px !important; }
.HPX42520{  height: 20px !important; }
.HPX42515{  height: 15px !important; }
.HPX42510{  height: 10px !important; }
.HPX4255{  height: 5px !important; }
.HPX4251{  height: 1px !important; }


.WPX425150{ width: 150px !important; }

.fSize4252{ font-size: 2px !important; }
.fSize4254{ font-size: 4px !important; }
.fSize4256{ font-size: 6px !important; }
.fSize4258{ font-size: 8px !important; }
.fSize42510{ font-size: 10px !important; }
.fSize42512{ font-size: 12px !important; }
.fSize42514{ font-size: 14px !important; }
.fSize42516{ font-size: 16px !important; }
.fSize42518{ font-size: 18px !important; }
.fSize42520{ font-size: 20px !important; }
.fSize42522{ font-size: 22px !important; }
.fSize42524{ font-size: 24px !important; }
.fSize42526{ font-size: 26px !important; }
.fSize42528{ font-size: 28px !important; }
.fSize42530{ font-size: 30px !important; }
.fSize42532{ font-size: 32px !important; }
.fSize42534{ font-size: 34px !important; }
.fSize42536{ font-size: 36px !important; }
.fSize42538{ font-size: 38px !important; }
.fSize42540{ font-size: 40px !important; }
.fSize42542{ font-size: 42px !important; }
.fSize42544{ font-size: 44px !important; }
.fSize42546{ font-size: 46px !important; }
.fSize42548{ font-size: 48px !important; }
.fSize42550{ font-size: 50px !important; }
.fSize42560{ font-size: 60px !important; }
.fSize42570{ font-size: 70px !important; }

/*---TOP----*/
.T425-45{  top: -45px; }
.T4250{  top: 0; }
.T4255{  top: 5px; }
.T42510{ top: 10px; }
.T42515{ top: 15px; }
.T42520{ top: 20px; }
.T42525{ top: 25px; }
.T42530{ top: 30px; }
.T42535{ top: 35px; }
.T42540{ top: 40px; }
.T42545{ top: 45px; }
.T42550{ top: 50px; }
.T42555{ top: 55px; }
.T42560{ top: 60px; }
.T42565{ top: 65px; }
.T42570{ top: 70px; }

/*---BOTTOM---*/
.B4250{ bottom: 0; }
.B4252{ bottom: 2px; }
.B4255{ bottom: 5px; }
.B42510{ bottom: 10px; }
.B42515{ bottom: 15px; }
.B42520{ bottom: 20px; } 
.B42525{ bottom: 25px; } 
.B42530{ bottom: 30px; } 
.B42535{ bottom: 35px; } 
.B42540{ bottom: 40px; } 
.B42545{ bottom: 45px; } 
.B42550{ bottom: 50px; } 
.B42555{ bottom: 55px; } 
.B42560{ bottom: 60px; } 
.B42565{ bottom: 65px; } 
.B42570{ bottom: 70px; } 


/*---LEFT---*/
.L4250{ left: 0; }
.L4255{ left: 5px; }
.L42510{ left: 10px; }
.L42515{ left: 15px; }
.L42520{ left: 20px; }
.L42525{ left: 25px; }
.L42530{ left: 30px; }
.L42535{ left: 35px; }
.L42540{ left: 40px; }
.L42545{ left: 45px; }
.L42550{ left: 50px; }
.L42555{ left: 55px; }
.L42560{ left: 60px; }
.L42565{ left: 65px; }
.L42570{ left: 70px; }

/*---RIGHT---*/
.R4250{ right: 0; }
.R4255{ right: 5px; }
.R42510{ right: 10px; }
.R42515{ right: 15px; }
.R42520{ right: 20px; }
.R42525{ right: 25px; }
.R42530{ right: 30px; }
.R42535{ right: 35px; }
.R42540{ right: 40px; }
.R42545{ right: 45px; }
.R42550{ right: 50px; }
.R42555{ right: 55px; }
.R42560{ right: 60px; }
.R42565{ right: 65px; }
.R42570{ right: 70px; }

 /*---MARGIN TOP---*/
.MT425A{ margin-top: auto; }
.MT4250{ margin-top: 0px; }
.MT4255{ margin-top: 5px; }
.MT42510{ margin-top: 10px; }
.MT42515{ margin-top: 15px; }
.MT42520{ margin-top: 20px; }
.MT42525{ margin-top: 25px; }
.MT42530{ margin-top: 30px; }
.MT42535{ margin-top: 35px; }
.MT42540{ margin-top: 40px; }
.MT42545{ margin-top: 45px; }
.MT42550{ margin-top: 50px; }
.MT42555{ margin-top: 55px; }
.MT42560{ margin-top: 60px; }
.MT42555{ margin-top: 65px; }
.MT42560{ margin-top: 70px; }

/*----MARGIN BOTTOM---*/
.MB425A{ margin-bottom: auto; }
.MB4250{ margin-bottom: 0px !important; }
.MB4255{ margin-bottom: 5px; }
.MB42510{ margin-bottom: 10px; }
.MB42515{ margin-bottom: 15px; }
.MB42520{ margin-bottom: 20px; }
.MB42525{ margin-bottom: 25px; }
.MB42530{ margin-bottom: 30px; }
.MB42535{ margin-bottom: 35px; }
.MB42540{ margin-bottom: 40px; }
.MB42545{ margin-bottom: 45px; }
.MB42550{ margin-bottom: 50px; }
.MB42555{ margin-bottom: 55px; }
.MB42560{ margin-bottom: 60px; }
.MB42565{ margin-bottom: 65px; }
.MB42570{ margin-bottom: 70px; }

/*----MARGIN LEFT---*/
.ML425A{ margin-left: auto; }
.ML4250{ margin-left: 0px !important; }
.ML4255{ margin-left: 5px; }
.ML42510{ margin-left: 10px; }
.ML42515{ margin-left: 15px; }
.ML42520{ margin-left: 20px; }
.ML42525{ margin-left: 25px; }
.ML42530{ margin-left: 30px; }
.ML42535{ margin-left: 35px; }
.ML42540{ margin-left: 40px; }
.ML42545{ margin-left: 45px; }
.ML42550{ margin-left: 50px; }
.ML42555{ margin-left: 55px; }
.ML42560{ margin-left: 60px; }
.ML42565{ margin-left: 65px; }
.ML42570{ margin-left: 70px; }

/*----MARGIN RIGHT---*/
.MR425A{ margin-right: auto; }
.MR4250{ margin-right: 0px !important; }
.MR4255{ margin-right: 5px; }
.MR42510{ margin-right: 10px; }
.MR42515{ margin-right: 15px; }
.MR42520{ margin-right: 20px; }
.MR42525{ margin-right: 25px; }
.MR42530{ margin-right: 30px; }
.MR42535{ margin-right: 35px; }
.MR42540{ margin-right: 40px; }
.MR42545{ margin-right: 45px; }
.MR42550{ margin-right: 50px; }
.MR42555{ margin-right: 55px; }
.MR42560{ margin-right: 60px; }
.MR42565{ margin-right: 65px; }
.MR42570{ margin-right: 70px; }

/*----MARGIN TOP - BUTTOM*/
.MTB4250{  margin-top: 0px; margin-bottom: 0px; }
.MTB4255{  margin-top: 5px; margin-bottom: 5px; }
.MTB42510{ margin-top: 10px; margin-bottom: 10px; }
.MTB42515{ margin-top: 15px; margin-bottom: 15px; }
.MTB42520{ margin-top: 20px; margin-bottom: 20px; }
.MTB42525{ margin-top: 25px; margin-bottom: 25px; }
.MTB42530{ margin-top: 30px; margin-bottom: 30px; }
.MTB42535{ margin-top: 35px; margin-bottom: 35px; }
.MTB42540{ margin-top: 40px; margin-bottom: 40px; }
.MTB42545{ margin-top: 45px; margin-bottom: 45px; }
.MTB42550{ margin-top: 50px; margin-bottom: 50px; }
.MTB42555{ margin-top: 55px; margin-bottom: 55px; }
.MTB42560{ margin-top: 60px; margin-bottom: 60px; }
.MTB42565{ margin-top: 65px; margin-bottom: 65px; }
.MTB42570{ margin-top: 70px; margin-bottom: 70px; }

/*----PADDING LEFT */
.PL4250{ padding-left: 0px !important; }
.PL4255{ padding-left: 5px; }
.PL42510{ padding-left: 10px; }
.PL42515{ padding-left: 15px; }
.PL42520{ padding-left: 20px; }
.PL42525{ padding-left: 25px; }
.PL42530{ padding-left: 30px; }
.PL42535{ padding-left: 35px; }
.PL42540{ padding-left: 40px; }
.PL42545{ padding-left: 45px; }
.PL42550{ padding-left: 50px; }

/*----PADDING RIGHT */
.PR4250{ padding-right: 0px; }
.PR4255{ padding-right: 5px; }
.PR42510{ padding-right: 10px; }
.PR42515{ padding-right: 15px; }
.PR42520{ padding-right: 20px; }
.PR42525{ padding-right: 25px; }
.PR42530{ padding-right: 30px; }
.PR42535{ padding-right: 35px; }
.PR42540{ padding-right: 40px; }
.PR42545{ padding-right: 45px; }
.PR42550{ padding-right: 50px; }

/*----PADDING TOP */
.PT4250{ padding-top: 0px; }
.PT4255{ padding-top: 5px; }
.PT42510{ padding-top: 10px; }
.PT42515{ padding-top: 15px; }
.PT42520{ padding-top: 20px; }
.PT42525{ padding-top: 25px; }
.PT42530{ padding-top: 30px; }
.PT42535{ padding-top: 35px; }
.PT42540{ padding-top: 40px; }
.PT42545{ padding-top: 45px; }
.PT42550{ padding-top: 50px; }

/*----PADDING BOTTOM */
.PB4250{ padding-bottom: 0px; }
.PB4255{ padding-bottom: 5px; }
.PB42510{ padding-bottom: 10px; }
.PB42515{ padding-bottom: 15px; }
.PB42520{ padding-bottom: 20px; }
.PB42525{ padding-bottom: 25px; }
.PB42530{ padding-bottom: 30px; }
.PB42535{ padding-bottom: 35px; }
.PB42540{ padding-bottom: 40px; }
.PB42545{ padding-bottom: 45px; }
.PB42550{ padding-bottom: 50px; }


/*----PADDING TOP-BOTTOM */
.PTB4250{ padding-top: 0px; padding-bottom: 0; }
.PTB4255{ padding-top: 5px; padding-bottom: 5px; }
.PTB42510{ padding-top: 10px; padding-bottom: 10px; }
.PTB42515{ padding-top: 15px; padding-bottom: 15px; }
.PTB42520{ padding-top: 20px; padding-bottom: 20px; }
.PTB42525{ padding-top: 25px; padding-bottom: 25px; }
.PTB42530{ padding-top: 30px; padding-bottom: 30px; }
.PTB42535{ padding-top: 35px; padding-bottom: 35px; }
.PTB42540{ padding-top: 40px; padding-bottom: 40px; }
.PTB42545{ padding-top: 45px; padding-bottom: 45px; }
.PTB42550{ padding-top: 50px; padding-bottom: 50px; }


/*----PADDING LEFT-RIGHT */
.PLR4250{ padding-left: 0px; padding-right: 0px; }
.PLR4255{ padding-left: 5px; padding-right: 5px;}
.PLR42510{ padding-left: 10px; padding-right: 10px; }
.PLR42515{ padding-left: 15px; padding-right: 15px; }
.PLR42520{ padding-left: 20px; padding-right: 20px; }
.PLR42525{ padding-left: 25px; padding-right: 25px; }
.PLR42530{ padding-left: 30px; padding-right: 30px; }
.PLR42535{ padding-left: 35px; padding-right: 35px; }
.PLR42540{ padding-left: 40px; padding-right: 40px; }
.PLR42545{ padding-left: 45px; padding-right: 45px; }
.PLR42550{ padding-left: 50px; padding-right: 50px; }

/*----PADDING TOP-BOTTOM */
.PAll4255{ padding:   5px 5px; }
.PAll42510{ padding: 10px 10px; }
.PAll42515{ padding: 15px 15px; }
.PAll42520{ padding: 20px 20px; }
.PAll42525{ padding: 25px 25px; }
.PAll42530{ padding: 30px 30px; }
.PAll42535{ padding: 35px 35px; }
.PAll42540{ padding: 40px 40px; }
.PAll42545{ padding: 45px 45px; }
.PAll42550{ padding: 50px 50px; }

.scroll425100a{ overflow: auto !important; }

}
